@tailwind base;
@tailwind components;
@tailwind utilities;

/* Подключаем стили библиотеки здесь, чтобы PostCSS не ругался */
@import '@coinbase/onchainkit/styles.css';

html, body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}